%red {
	background: #E74C3C;
	color: #ECF0F1;
	border-bottom-color: #C0392B;
}
%white {
	background: #fff;
	color: #444;
	border-bottom-color: #95A5A6;	
}
%blue {
	background: #3498DB;
	color: #fff;
	border-bottom-color: #2980B9;	
	&:hover {
		background: #34495E;
		border-color: #2C3E50;
	}
}
%gray {
	background: #95A5A6;
	color: #fff;
	border-bottom-color: #7F8C8D;
	&:hover {
		background: #34495E;
		border-color: #2C3E50;
	}
}
%green {
	background: #2ECC71;
	color: #fff;
	border-bottom-color: #27AE60;
}
%turquoise {
	background: #1ABC9C;
	color: #fff;
	border-bottom-color: #16A085;
}
%yellow {
	background: #F1C40F;
	color: #fff;
	border-bottom-color: #F1C40F;
}
%dark-blue {
	background: #34495E;
	border-color: #2C3E50;
	color: #fff;
}
%orange {
	background: #E67E22;
	color: #fff;
	border-bottom-color: #D35400;
	&:hover {
		background: #34495E;
		border-color: #2C3E50;
	}
}
