@mixin box-sizing ( $bs ) {
	-webkit-box-sizing: $bs;
	-moz-box-sizing: $bs;
	box-sizing: $bs;
}

@mixin box-shadow ($a, $b: "") {
	@if $b != "" {
		-webkit-box-shadow: $a, $b;
		-moz-box-shadow: $a, $b;
		box-shadow: $a, $b;
	} @else {
		-webkit-box-shadow: $a;
		-moz-box-shadow: $a;
		box-shadow: $a;
	}
}

@mixin text-shadow ($a, $b: "") {
	@if $b != "" {
		-webkit-text-shadow: $a, $b;
		-moz-text-shadow: $a, $b;
		text-shadow: $a, $b;
	} @else {
		-webkit-text-shadow: $a;
		-moz-text-shadow: $a;
		text-shadow: $a;
	}
}