$margin-base: 12px;
$margin-b: $margin-base * 1;
$margin-c: $margin-base * 2;
$margin-d: $margin-base * 3;
$margin-e: $margin-base * 4;
$margin-f: $margin-base * 5;

$button-padding: $margin-base $margin-base*1.33;

$border-radius-base: 5px;