%section.photos
	%nav.sticky.red.left
		%ul
			%li
				%span
					= title
	- feed.each do |gram|
		%article
			= link_to "Instagram", "#"
			%address
				= instagram_user_link(gram)
			= instagram_image(gram)