%section.mine
	- if @blogs.empty?
		%nav.fixed.left
			%ul
				%li.blue
					= link_to new_blog_path, remote: true do
						%span.icon.camera
						%span Create blog
	- else
		%nav.absolute.right.open
			%ul
				%li.green
					%span My blogs
	.container
		= render 'shared/blogs', blogs: @blogs