@import 'base/*';

html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}

* {
	-webkit-transition: background 0.25s ease-in, color 0.25s ease-in, border-color 0.25s ease-in, box-shadow 0.25s ease-in, opacity 0.25s ease-in;
	-o-transition: background 0.25s ease-in, color 0.25s ease-in, border-color 0.25s ease-in, box-shadow 0.25s ease-in, opacity 0.25s ease-in;
	transition: background 0.25s ease-in, color 0.25s ease-in, border-color 0.25s ease-in, box-shadow 0.25s ease-in, opacity 0.25s ease-in;
}

body {
	background: #BDC3C7;
}

input {
	outline: none;
}

.photos {
	opacity: 0;
	filter: alpha(opacity=0);
	@extend %no-transition;
	position: relative;
	article {
		@extend %inline-block;
		vertical-align: top;
		width: 25%;
		position: relative;
		> a:first-child {
			@extend %background-link;
			@include box-sizing(border-box);
			position: absolute;
			z-index: 2;
			top: 0;
			left: 0;
			border: 1px solid transparent;
			&:hover {
				@include box-shadow(0 0 24px rgba(0, 0, 0, 0.5));
				border: 1px solid #F1C40F;
			}
		}
		&:hover {
			address {
				opacity: 1;
				filter: none;
			}
		}
	}
	img {
		width: 100%;
		display: block;
		-webkit-transform: scale(0);
		-moz-transform: scale(0);
		-ms-transform: scale(0);
		-o-transform: scale(0);
		transform: scale(0);
		-webkit-transition: all 0.5s 0.5s ease-in-out;
		-moz-transition: all 0.5s 0.5s ease-in-out;
		-o-transition: all 0.5s 0.5s ease-in-out;
		transition: all 0.5s 0.5s ease-in-out;
		&.loaded {
			-webkit-transform: scale(1);
			-moz-transform: scale(1);
			-ms-transform: scale(1);
			-o-transform: scale(1);
			transform: scale(1);
		}
	}
	address {
		opacity: 0;
		filter: alpha(opacity=0);
		position: absolute;
		bottom: 5%;
		right: 5%;
		z-index: 3;
	}
	@media only screen and (max-width: 800px) {
		article {
			width: 50%;
		}
	}
	@media only screen and (max-width: 480px) {
		article {
			width: 100%;
		}
	}
}

nav {
	overflow: hidden;
	&.sticky {
		position: absolute;
	}
	&.fixed {
		position: fixed;
	}
	&.sticky, &.fixed {
		z-index: 20;
		top: 12px;
	}
	&.left {
		left: 12px;
	}
	&.right {
		right: 12px;
	}
	li {
		@extend %inline-block;
		position: relative;
	}
	> ul > li {
		border-bottom: 3px solid #fff;
	}
	.red {
		background: #E74C3C;
		color: #ECF0F1;
		border-bottom-color: #C0392B;
	}
	.white {
		background: #fff;
		color: #444;
		border-bottom-color: #95A5A6;	
	}
	.blue {
		background: #3498DB;
		color: #fff;
		border-bottom-color: #2980B9;	
		&:hover {
			background: #34495E;
			border-color: #2C3E50;
		}
	}
	.gray {
		background: #95A5A6;
		color: #fff;
		border-bottom-color: #7F8C8D;
		&:hover {
			background: #34495E;
			border-color: #2C3E50;
		}
	}
	.green {
		background: #2ECC71;
		color: #fff;
		border-bottom-color: #27AE60;
		&:hover {
			background: #1ABC9C;
			border-color: #16A085;
		}
	}
	.turquoise {
		background: #1ABC9C;
		color: #fff;
		border-bottom-color: #16A085;
		&:hover {
			background: #34495E;
			border-color: #2C3E50;
		}
	}
	.dark-blue {
		background: #34495E;
		border-color: #2C3E50;
		color: #fff;
	}
	.orange {
		background: #E67E22;
		color: #fff;
		border-bottom-color: #D35400;
		&:hover {
			background: #34495E;
			border-color: #2C3E50;
		}
	}
	a {
		color: inherit;
		&:hover {
			color: inherit;
		}
	}
	span, a, input, button, ul ul, label {
		@include box-sizing(border-box);
		padding: 12px 18px;
		margin: 0;
		border: 0;
		display: block;
		background: transparent;
	}
	input {
		width: 300px;
	}
	label {
		@extend %no-transition;
		position: absolute;
		padding: {
			left: 0;
			right: 0;
		}
		top: 0;
		left: 0;
		width: 100%;
		font-weight: 300;
		cursor: text;
	}
	form {
		position: relative;
	}
	> ul {
		> li:first-child {
			border-top-left-radius: 3px;
			border-bottom-left-radius: 3px;
		}
		> li:last-child {
			border-top-right-radius: 3px;
			border-bottom-right-radius: 3px;
		}
	}
	ul ul li {
		width: 25px;
		height: 25px;
		white-space: no-wrap;
		text-indent: -9999px;
		margin-right: 6px;
		cursor: pointer;
		&:last-child {
			margin-right: 0;
		}
	}
	.plus {
		background-color: transparent;
		background-image: image-url('icons/plus-white-25.png');
	}
}

.search {
	ul ul li {
		background: #ECF0F1;
	}
	.person {
		background-image: image-url('icons/person-inverse-25.png');
		&:hover, &.open {
			background-color: #3498DB;
		}
	}
	.tag {
		background-image: image-url('icons/tag-inverse-25.png');
		&:hover, &.open {
			background-color: #2ECC71;
		}
	}
	.place {
		width: 16px;
		background-image: image-url('icons/place-inverse-25.png');
		&:hover, &.open {
			background-color: #C0392B;
		}
	}
	input {
		padding-left: 0;
	}
	.carousel {
		position: relative;
	}
}

input {
	&::-webkit-input-placeholder {
		font-weight: 200;
		line-height: 25px;
	}
	&::-moz-input-placeholder {
		font-weight: 200;
		line-height: 25px;
	}
	&:-ms-input-placeholder {
		font-weight: 200;
		line-height: 25px;
	}
	&:-moz-input-placeholder {
		font-weight: 200;
		line-height: 25px;
	}
}

.home {
	color: #fff;
	display: table;
	text-align: center;
	width: 100%;
	height: 100%;
	position: fixed;
	section {
		display: table-cell;
		vertical-align: middle;
		width: 100%;
	}
}


