@import 'base/*';

html, body {
	font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
	-webkit-font-smoothing: antialiased;
	-webkit-text-size-adjust: 100%;
	font-size: 11px;
}

a {
	color: #333;
	text-decoration: none;
}

a:hover {
	color: #111;
}

.photos {
	font-size: 0;
	line-height: 0;
	article {
		line-height: 1;
	}
	a {
		color: #fff;
	}
	address {
		@include text-shadow(0 0 6px rgba(0, 0, 0, 1));
	}
}

nav {
	font-size: 0;
	line-height: 0;
	li {
		font-size: 16px;
		letter-spacing: -0.05em;
		font-weight: 600;
	}
}